.dropdown-time  {
  .dropdown-item {
    padding: .375rem .75rem;

  }
  .dropdown-menu {
    padding: 5px;
    padding-right: 10px;
    // width: 25px;
    min-width: 0;
    max-height: 150px;
    overflow: auto;
  }

  &>.btn {
    background: #f0efef;
    border: none;
    font-size: 14px;
    color: #656875;

    &:disabled {
      background: none;
    }
  }

}